<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/favicon_io/site.webmanifest">
  <title>OAuth授权-WHOAM</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ThreeTenth/css-theme@v0.1.1/colours.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie/dist/js.cookie.min.js"></script>
  <script src="/js/main.js"></script>
  <style>
    .hide {
      display: none;
    }
  </style>
</head>

<body class="black" style="width: 480px; margin: auto; margin-top: 20px">
  {{ if not .Authorizated }}
  <div id="login">
    {{ template "fgm_login" }}
  </div>
  <script>
    function onLoginAuth() {
      loginAuth(function (response) {
        history.pushState("", "", "./auth" + window.location.search)
      })
    }
    function onRefreshToken() {
      refreshToken(
        function (response) {
          location.reload();
        },
        function (response) {
          history.pushState("", "", "./login" + window.location.search)
        })
    }

    onRefreshToken()
  </script>
  {{ end }}
  <div id="oauth">
    <div>{{ if .Authorizated }} {{ .User.Email }} {{ end }}</div>
    <div>{{ if .Authorizated }} {{ .Service.Name }} {{ end }}</div>
    <div>请求授权
    </div>
    <form>
      <input onclick="onAllowAuth()" type="button" value="允许授权" />
    </form>
    <script>
      const url = new URL(window.location.href)
      const return_to = url.searchParams.get('return_to')
      const redirect_uri = url.searchParams.get('redirect_uri')
      const state = url.searchParams.get('state')
      const clientId = url.searchParams.get('client_id')
    </script>
  </div>
</body>

</html>